#mainNav{
  a{
  color: white;
  @include transition(color .3s ease-out);
  &:hover{
    color: $light-purple;
    }
  }

  .navbar-brand{
    margin-bottom: 0px;
    text-transform: uppercase;
    font-family: $qs;
  }
  #hamburger{
    color: white;
  }
}
