#mainFooter{
  background-color: $dark-charcoal;
  color: white;
  margin: 0 auto;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

#cp{
  width: 100vw;
  margin-bottom: 0px;
  font-size: .8em;
}
