#mainNav{
  background-color: $purple;
  a{
    color: white;
    font-family: $robot;
    @include transition(color .3s ease-out);
    &:hover{
      color: $light-purple;
      }
  }

  .navbar-brand{
    margin-bottom: 0px;
    text-transform: uppercase;
    font-family: $qs;
  }
  #hamburger{
    color: white;
  }
}
