#mainBody{
  color: $light-grey;
  text-align: center;
  h1{
    font-size: 1.3rem;
  }
  h2{
    font-family: $robot;
    font-weight: bold;
    font-size: 1rem;
    text-transform: uppercase;
    color: darken($light-grey, 15%);
  }
  .posterCon{
    background-color: lighten($charcoal, 10%);
    width: 90%;
    @include radius(4px);
    @include shadow(1px 2px 20px 0px rgba(0,0,0,0.2));
  }
  a{
    color: $light-purple;
    text-transform: uppercase;
  }
}
